/* select */
.select{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    position: relative;
}
.select.select_st2{
    height: 36px;
}
.select .select__open.active{
    border: 1px solid #4396F5;
}
.select .select__open{
    border: 1px solid #E9E9E9;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    transition: 0.3s ease;
}
.select.select_st2 .select__open{
    border-radius: 0;
    border: none;
    padding: 0;
}
.select.select_st2.fontFamily__select .select__open{
    min-width: 150px;
}
.select.select_st2.fontWeight__select .select__open{
    min-width: 75px;
}
.select .select__open::after{
    display: none;
}
.select .select__open.active span{
    color: #1A2032;
}
.select .select__open span{
    font-size: 14px;
    font-weight: 400;
    color: #1A2032;
    margin-top: 3px;
}
.select.select_st2 .select__open span{
    font-size: 13px;
}
.select .select__open i{
    width: 16px;
    height: 12.08px;
    transition: 0.3s ease;
}
.select.select_st2 .select__open i{
    width: 10px;
    height: 10px;
}
.select .select__open.active i{
    transform: rotate(180deg);
}
.select .select__open.active + .select__list{
    opacity: 1;
    visibility: visible;
}
.select .select__list{
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    width: 100%;
    overflow-y: scroll;
    padding: 20px 6px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 100;
    background-color: #fff;
}
.select.select_st2 .select__list{
    top: 40px;
    width: max-content;
    height: 150px;
    padding: 6px 12px;
    overflow-y: scroll;
}
.select .select__list li{
    position: relative;
}
.select .select__btn::after{
    display: none;
}
.select.select_st2 .select__btn{
    width: 100%;
    padding: 6px 0;
    font-size: 12px;
    text-align: left;
}
/* select end */