/* home */
.home{
    padding-top: 30px;
    padding-bottom: 80px;
}
.home .banner{
    width: 100%;
    height: 60px;
    border-radius: 60px;
    background-color: #64A2FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 58px;
}
.home .banner p {
    font-size: 15px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 500;
    color: #fff;
}
.home .banner .tutorial__btn{
    padding: 12px 22px;
    width: max-content;
    font-size: 13px;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 500;
    color: #64A2FF;
    background-color: #fff;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    transition: 0.3s ease;
}
.home .banner .tutorial__btn:hover{
    opacity: 0.7;
}
/* home end */