/* pages list */
.page__list{
    width: 216px;
    height: 100vh;
    background-color: #F9F9F9;
    /* margin-left: 80px; */
    padding: 30px 18px;
}
.page__list .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-bottom: 30px;
}
.page__list .title h2{
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #000;
}
.page__list .title .total{
    padding: 3px 9px;
    border-radius: 12px;
    border: 1px solid #7B61FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #7B61FF;
    margin-top: 2px;
}
.page__list .title .total::after{
    content: attr(data-totalNumber);
    font-size: 10px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #7B61FF;
}
.page__list .list li:first-child{
    margin-top: 0;
}
.page__list .list li:last-child{
    margin-top: 0;
}
.page__list .list li{
    width: 100%;
    height: 102px;
    border-radius: 10px;
    margin-top: 56px;
    position: relative;
}

.page__list .list li.state__not_transition::after{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    background: url("../../images/icons/common/ico-transitionNot.svg") no-repeat center / cover;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.05));
}
.page__list .list li.state__transition::after{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    background: url("../../images/icons/common/ico-transition.svg") no-repeat center / cover;
}
.page__list .list li:nth-last-child(2)::after{
    display: none;
}
.page__list .list li .card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}
.page__list .list .add__box{
    display: flex;
    gap: 8px;
    /* justify-content: center; */
    align-items: center;
    width: 100px;
    width: 32px;
    height: 32px;
    padding: 0 0 0 32px;
    background-color: #7B61FF;
    border-radius: 22px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s ease;
    position: relative;
    cursor: default;
}
.page__list .list .add__box span{
    opacity: 0;
    visibility: hidden;
    transition: 0.1s ease;
}
.page__list .list .add__box:hover{
    width: 100px;
}
.page__list .list .add__box:hover span{
    transition: 0.3s 0.3s ease;
    opacity: 1;
    visibility: visible;
}
.page__list .list .add__box i.plus__icon{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: url("../../images/icons/common/ico-plus-raduis-white.svg") no-repeat center / cover;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.page__list .list .add__box:hover::before{
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 0;
}
.page__list .list .add__box:hover .addPage__btn__list{
    opacity: 1;
    visibility: visible;
}
.page__list .addPage__btn__list{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: calc(100% + 4px);
    transform: translateX(-50%);
    width: 100px;
    padding: 4px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.3s ease;
}
.page__list .addPage__btn__list button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #363D59;
    height: 34px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.page__list .addPage__btn__list button:hover{
    background-color: #F8F7FF;
}

.page__list .card {
    border-radius: 10px;
    position: relative;
    transition: 0.3s ease;
}
.page__list .card .bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.page__list .card .card__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 8px;
    z-index: 10;
    width: 100%;
    padding: 0 10px;
}
.page__list .card .card__content .page__num{
    display: flex;
    align-items: center;
    gap: 4.5px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #fff;
}
.page__list .card .card__content .timer{
    font-size: 11px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #fff;
}
.page__list .card .bg::before{
    content: "";
    width: 100%;
    height: 54px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.025) 34.07%, rgba(0, 0, 0, 0.15) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    border-radius: 10px;
}
.page__list .card:hover .hov{
    opacity: 1;
    visibility: visible;
}
.page__list .card .hov{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(123, 97, 255, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.page__list .card .hov .other{
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: #fff;
}
.page__list .card .hov .other > span{
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background-color: #ADADAD;
}
.page__list .card .hov .other__btn__list{
    position: absolute;
    left: 0;
    bottom: calc(100% + 8px);
    width: 124px;
    height: max-content;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 4px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.page__list .card .hov .other:hover .other__btn__list{
    opacity: 1;
    visibility: visible;
}
.page__list .card .hov .other__btn__list button{
    width: 100%;
    height: 34px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
    padding: 0 11px;
    transition: 0.3s ease;
}
.page__list .card .hov .other__btn__list button:hover{
    color: #fff;
    background-color: #7B61FF;
}
.page__list .card .hov .other__btn__list button i{
    transition: 0.3s ease;
}
/* pages list end */


/* studio layout */
.studio__main{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: grid;
    grid-template-rows: 80px auto 50px 401.46px;
}
/* studio layout end */


/* studio header */
.studio__header{
    background-color: #fff;
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.studio__header .title{
    display: flex;
    align-items: center;
    /* margin-left: 8px; */
}
.studio__header .title h2{
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
}
.studio__header .title button{
    margin-left: 6px;
}
.studio__header .title input{
    min-width: max-content;
    max-width: max-content;
    width: max-content;
    height: 32px;
    border: none;
    outline: none;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 0 11px;
    display: none;
    min-width: 80px;
    max-width: 500px;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
}
.studio__header .title.active h2{
    display: none;
}
.studio__header .title.active input{
    display: block;
}

.studio__header .save__btn{
    margin-right: 20px;
}
.studio__header .preview__btn{
    height: 38px;
    background-color: #F9F9F9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-right: 10px;
}
.studio__header .preview__btn p{
    font-size: 13px;
    font-weight: 500;
    color: #363D59;
}
.studio__header .preview__btn span{
    width: 20px;
    width: max-content;
    text-align: right;
    border-left: 1px solid #e9e9e9;
    margin-left: 10px;
    padding-left: 8px;
    font-size: 13px;
    font-weight: 500;
    color: #7B61FF;
}
.studio__header .export__btn{
    width: 82px;
    height: 38px;
    border-radius: 5px;
    background-color: #7B61FF;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* studio header end */


/* studio canvas */
.studio__canvas{
    height: 554px;
    height: 100%;
    min-height: 554px;
    position: relative;
    width: 100%;
}
.studio__canvas > div{
    /* background-color: #1A2032; */
    z-index: 10;
    /* margin: auto; */
    position: relative;
    width: max-content;
    height: 100%;
    margin: 0 auto;
}
.studio__canvas > div .content{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.studio__canvas > div .canvas__size{
    width: 100%;
    height: max-content;
    height: 100%;
    margin: 0 auto;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}
.studio__canvas > div .canvas__size > img{
    width: auto;
    height: 100%;
}
/* studio canvas end */


/* studio timeline */
.studio__tool{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.studio__tool .col{
    gap: 18px;
}
.studio__tool .scale__box{
    display: flex;
    align-items: center;
    gap: 12px;
    /* margin-right: 16px; */
}
.studio__tool .scale__box .range{
    width: 90px;
    height: 2px;
}
.studio__tool .scale__box input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    height: 10px;
    width: 90px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}
.studio__tool .scale__box input[type="range"] {
    background: linear-gradient(to right, #B635F5 0%, #6DD1F0 50%, #E9E9E9 50%, #E9E9E9 100%);
    border-radius: 8px;
    height: 4px;
    width: 90px;
    outline: none; 
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.studio__tool .scale__box input[type="range"]::-webkit-slider-thumb {
    background-color: #fff;
    border: solid 3px #7B61FF;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    -webkit-appearance: none;
}

.studio__timeline{
}
.studio__timeline .time__box{
    width: 100%;
    height: 40px;
    position: relative;
    border-top: 2px solid #e9e9e9
}
.studio__timeline .time__box .time{
    width: 102px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background-color: #F2F3F5;
    margin: 5px 16px;
}
.studio__timeline .time__box .time span{
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #363D59;
}

.studio__timeline .content__box{
    border-top: 1px solid #E9E9E9;
    display: flex;
}
.studio__timeline .content__box .title__line{
    padding: 12px 16px;
    width: 136px;
    border-right: 1px solid #E9E9E9;
}
.studio__timeline .content__box .title__line li{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}
.studio__timeline .content__box .title__line li:last-child{
    margin-bottom: 0;
}
.studio__timeline .content__box .title__line li span{
    font-size: 14px;
    font-weight: 400;
    color: #1A2032;
}
.studio__timeline .content__box .content__line{
    width: calc(100% - 136px);
    position: relative;
}
.studio__timeline .content__box .content__line .marker{
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 1px;
    height: 100%;
    background-color: #00F0FF;
}
.studio__timeline .content__box .content__line .marker::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -11px;
    width: 8px;
    height: 11px;
    background: url("../../images/icons/studio-timeline/marker-skyBlue.svg") no-repeat center / cover;
}

.studio__timeline .time__box .time__progress{
    position: absolute;
    top: -2px;
    left: 136px;
    width: calc(100% - 136px);
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding-right: 27px;
}
.studio__timeline .time__box .time__progress span{
    width: 2px;
    height: 10px;
    background-color: #e9e9e9;
    display: block;
    position: relative;
}
.studio__timeline .time__box .time__progress span em{
    font-size: 11px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #363D59;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    font-style: normal;
}

/* studio timeline end */



/* style__tab */
.style__tab > ul > li > button + div{
    position: absolute;
    top: 0;
    right: calc(100% + 20px);
    width: 316px;
    height: 578px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    padding: 16px 25px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.style__tab > ul > li > button + div.text{
    height: 510px;
}
.style__tab > ul > li > button.active + div{
    opacity: 1;
    visibility: visible;
}
.style__tab li button + div .close__btn{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #F2F3F5;
}
.style__tab li button + div .close__btn::after{
    display: none;
}
.style__tab li button + div .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}
.style__tab li button + div .title h2{
    font-size: 15px;
    font-weight: 600;
    color: #1A2032;
}
/* style__tab end */


/* style__tab content */
.style__tab .metahuman .content .col{
    margin-bottom: 10px;
}
.style__tab .metahuman .select__btn{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 12px;
    height: 70px;
    border-radius: 8px;
    transition: 0.3s ease;
}
.style__tab .metahuman .select__btn.active{
    background-color: #F3F8FC;
}
.style__tab .metahuman .select__btn .img__wrap{
    width: 70px;
    height: 48px;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.style__tab .metahuman .select__btn h3{
    width: 96px;
    padding: 0 6px 0 18px;
    font-size: 14px;
    font-family: "Noto Sans Kr";
    font-weight: 500;
    color: #1A2032;
    text-align: left;
}
.style__tab .metahuman .tag__list{
    display: flex;
    align-items: center;
    gap: 6px;
}
.style__tab .metahuman .tag__list > span{
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    font-size: 11px;
    font-family: "Montserrat";
    font-weight: 500;
    margin: 0;
}
.style__tab .metahuman .blue__fill__tag{
    background-color: #4396F5;
    color: #fff;
}
.style__tab .metahuman .blue__strok__tag{
    background-color: #fff;
    color: #4396F5;
    border: 1px solid #4396F5;
}

.style__tab .metahuman__select .select__list{
    height: 425px;
}
.style__tab .style__select .select__list{
    height: 366px;
}
.style__tab .style__select .voice__list{
    height: 220px;
}

.style__tab .metahuman .voice__select .select__btn{
    height: 50px;
    position: relative;
}
.style__tab .metahuman .voice__select .select__btn h3{
    padding-left: 0;
}
.style__tab .metahuman .voice__select .play__box{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 14px;
    width: max-content;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
}
.style__tab .metahuman .voice__select .select__open.active + .select__list .play__box{
    opacity: 1;
    visibility: visible;
}

.style__tab .metahuman .voice__select .play__box span{
    font-size: 11px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #9194A4;
}
.style__tab .metahuman .voice__select .play__box button{
    width: 24px;
}
.style__tab .metahuman .voice__select .play__box button::after{
    display: none;
}

.style__tab .metahuman .content .col.st2{
    margin-top: 56px;
    width: 100%;
}
.style__tab li button + div .col .title{
    margin-bottom: 10px;
}
.style__tab .metahuman .title h3{
    font-size: 14px;
    font-weight: 400;
    color: #1A2032;
}
.style__tab .metahuman .script__list{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    padding: 0 16px;
    position: relative;
    z-index: 10;
    background-color: #fff;
}
.style__tab .metahuman .script__list button{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 16px 0;
}
.style__tab .metahuman .script__list button p{
    font-size: 13px;
    font-weight: 400;
    color: #1A2032;
    padding-top: 1px;
}

.style__tab .metahuman .script__list .script__item:last-child button{
    border-top: 1px solid #e9e9e9;
}
.style__tab .metahuman .script__list button i{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.style__tab .metahuman .script__list .checkbox{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid #9194A4;
    position: relative;
    margin: 0;
    transition: 0.3s ease;
}
.style__tab .metahuman .script__list .checkbox::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s ease;
}
.style__tab .metahuman .script__list .script__item.active .checkbox{
    border: 1px solid #80B8FA;
}
.style__tab .metahuman .script__list .script__item.active .checkbox::after{
    background-color: #4396F5;
}
.style__tab .metahuman .script__list .script__item i{
    opacity: 0.15;
}
.style__tab .metahuman .script__list .script__item.active i{
    opacity: 1;
}
.style__tab .metahuman .script__list .script__item:first-child.active .script__text__textarea{
    display: block;
}
.style__tab .metahuman .script__list .script__item:last-child.active .script__motionPreset__box{
    display: flex;
}
.style__tab .metahuman .script__list .script__text__textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 0px;
    max-height: 0px;
    height: 0px;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    min-height: 114px;
    max-height: 114px;
    height: 114px;
    padding: 4px;
    border: 1px solid #4396F5;
    color: #1A2032;
    display: none;
    /* transition: min-height 0.3s ease, max-height 0.3s ease, height 0.3s ease, padding 0.3s ease; */
}
.style__tab .metahuman .script__list .script__motionPreset__box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: max-content;
    right: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    padding: 0;
    border: none;
    display: none;
}
.style__tab .metahuman .script__list .script__motionPreset__box button::after{
    display: none;
}
.style__tab .metahuman .script__list .script__motionPreset__box button{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    color: #1A2032;
    padding: 12px 0;
    border: none !important;
}

.style__tab .save__btn::after{
    display: none;
}
.style__tab .save__btn{
    width: 130px;
    height: 52px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4396F5;
    transition: 0.3s ease;
    position: absolute;
    right: 22px;
    bottom: 22px;
}
.style__tab .save__btn:hover{
    opacity: 0.8;
}
.style__tab .save__btn span{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
}

.style__tab .tab__list{
    display: flex;
    width: 316px;
    margin-left: -22px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 16px;
    margin-bottom: 20px;
}
.style__tab .tab__list button{
    font-size: 14px;
    font-weight: 400;
    color: #ACAFC0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s ease;
}
.style__tab .tab__list button:not(:last-child)::after{
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e9e9e9;
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    top: 6px;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    z-index: 1;
}
.style__tab .tab__list button.active{
    color: #7B61FF;
    font-weight: 700;
}
.style__tab .content > div{
    display: none;
}
.style__tab .content > div.show{
    display: block;
}
.style__tab .button__list{
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 4px;
    margin-bottom: 20px;
}
.style__tab .button__list button{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    border-radius: 8px;
    color: #ACAFC0;
    transition: 0.3s ease;
}
.style__tab .button__list button.active{
    color: #1A2032;
    background-color: #fff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
}
.style__tab .content > div .list{
    /* overflow: scroll; */
    height: 380px;
    display: none;
}
.style__tab .content > div .list.show{
    display: block;
}
.style__tab .content > div .list.default ul{
    height: 380px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.style__tab .content > div .list.my ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    height: 220px;
    overflow: scroll;
}
.style__tab .content > div .list ul button .img__bg::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
}
.style__tab .content > div .list ul button:hover .img__bg::after{
    background-color: rgba(123, 97, 255, 0.3);
    opacity: 1;
    visibility: visible;
}
.style__tab .content > div .list.my ul li{
    position: relative;
}
.style__tab .content > div .list.my ul li:hover .remove__btn{
    opacity: 1;
    visibility: visible;
}
.style__tab .content > div .list.my ul .remove__btn{
    width: 22px;
    height: 22px;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.style__tab .content > div .list.my ul .remove__btn:hover{
    background-color: #FF6060;
}
.style__tab .content > div .list.my ul .remove__btn:hover + button .img__bg::after{
    background-color: rgba(123, 97, 255, 0.3);
    opacity: 1;
    visibility: visible;
}

.style__tab .content > div .list.my ul li:hover .btn__hov{
    opacity: 1;
    visibility: visible;
}
.style__tab .content > div .list li{
    width: calc(50% - 6px);
}
.style__tab .content > div .list.list_st2{
    gap: 10px;
    height: 380px;
}
.style__tab .content > div .list.list_st2 ul{
    flex-direction: column;
    flex-wrap: nowrap;
}
.style__tab .content > div .list.list_st2 li{
    width: 100%;
    min-height: 50px;
    position: relative;
}
.style__tab .content > div .list.list_st2 li button.play__btn{
    width: max-content;
    position: absolute;
    left: auto;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 11px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #9194A4;
    opacity: 1;
    visibility: visible;
    z-index: 100;
}
.style__tab .content > div .list.list_st2 li button.play__btn i{
    transition: 0.3s ease;
}
.style__tab .content > div .list.list_st2 li button:not(.play__btn){
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    height: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #1A2032;
    padding-top: 2px;
    transition: 0.3s ease;
}
.style__tab .content > div .list.list_st2 li .play__btn:hover + button{
    border: 1px solid rgba(123, 97, 255, 0.05);
    background-color: rgba(123, 97, 255, 0.05);

}
.style__tab .content > div .list.list_st2 li button:not(.play__btn):hover{
    border: 1px solid rgba(123, 97, 255, 0.05);
    background-color: rgba(123, 97, 255, 0.05);
}
.style__tab .content > div .list.list_st2 li button:not(.play__btn).active{
    border: 1px solid #7B61FF;
}

.style__tab .content > div .list button{
    width: 100%;
    position: relative;
}
.style__tab .content > div button .img__bg{
    width: 100%;
    height: 90px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
}
.style__tab .content > div button .img__bg::before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2.4px solid #7B61FF;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.style__tab .content > div button.active .img__bg::before{
    opacity: 1;
    visibility: visible;
}

.style__tab .content > div button p{
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 5px;
}
.style__tab .file__upload__box{
    width: 100%;
    height: 130px;
    border: 1px dashed #e9e9e9;
    border-radius: 10px;
    margin-bottom: 20px;
}
.style__tab .file__upload__box .file__upload{
    display: none;
}
.style__tab .file__upload__box .file__upload + label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.style__tab .file__upload__box .file__upload + label img{
    width: 36px;
    margin-bottom: 8px;
}
.style__tab .file__upload__box .file__upload + label h3{
    font-size: 13px;
    font-weight: 500;
    color: #666;
    margin-bottom: 9px;
}
.style__tab .file__upload__box .file__upload + label p{
    font-size: 12px;
    font-weight: 400;
    color: #adadad;
    line-height: 1.5;
    text-align: center;
}
.style__tab .file__upload__box .file__upload + label p span{
    color: #7B61FF;
}

.style__tab .video__time{
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    left: 6px;
    bottom: 30px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.style__tab .content > div .list li:hover .video__time{
    opacity: 1;
    visibility: visible;
}

.style__tab .text__content .text__textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 77px;
    min-height: 77px;
    max-height: 77px;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    padding: 7px 12px;
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    color: #1A2032;
    line-height: 1.75;
    margin-bottom: 20px;
    transition: 0.3s ease;
}
.style__tab .text__content .text__textarea:focus{
    border: 1px solid #7B61FF;
    background-color: #F9FAFC;
}
.style__tab .text__content .select__cont > span{
    font-size: 12px;
    font-weight: 400;
    font-family: "Spoqa Han Sans Neo";
    color: #A3AAB8;
}
.style__tab .text__content .col{
    padding-bottom: 10px;
    border-bottom: 1px solid #F2F3F5;
}
.style__tab .text__content .col:last-child{
    border-bottom: none;
}
.style__tab .font__style__cont{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.style__tab .font__style__cont input{
    width: 50px;
    height: 32px;
    border-radius: 10px;
    background-color: #FAFBFD;
    box-shadow: inset 0px -1px 10px rgba(0, 0, 0, 0.03);
    border: none;
}
.style__tab .font__style__cont > div{
    align-items: center;
}
.style__tab .font__style__cont > div .font__style__kind{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

.style__tab .font__style__cont > div span{
    font-size: 12px;
    font-weight: 400;
    color: #ACAFC0;
    padding-top: 1px;
}
.style__tab .font__style__cont > div input{
    padding-left: 10px;
    text-align: center;
}
.style__tab .color__basic{
    padding-top: 28px;
}
.style__tab .color__basic .flex{
    gap: 10px;
    align-items: center;
}
.style__tab .color__basic span{
    font-size: 12px;
    font-weight: 500;
    color: #A3AAB8;
}
.style__tab .color__basic p{
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #363D59;
}
.style__tab .color__basic .color__list{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 22px;
}
.style__tab .color__basic .color__list button{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: relative;
}
.style__tab .color__basic .color__list button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #e9e9e9;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.style__tab .color__basic .color__list button::after{
    content: "";
    width: 7.5px;
    height: 7.5px;
    background: url("../../images/icons/studio-side/ico-check-white.svg") no-repeat center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.style__tab .color__basic .color__list button.active::before{
    opacity: 1;
    visibility: visible;
}
.style__tab .color__basic .color__list button.active::after{
    opacity: 1;
    visibility: visible;
}
.style__tab .font__style__list{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #FAFBFD;
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px -1px 10px rgba(0, 0, 0, 0.03);
}
.style__tab .font__style__list > button,
.style__tab .font__style__list > div > button{
    width: 45px;
    height: 30px;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style__tab .font__style__list > button::before,
.style__tab .font__style__list > div > button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
}
.style__tab .font__style__list > button::after,
.style__tab .font__style__list > div > button::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #363D59;
    opacity: 0.09;
    filter: blur(4px);
    border-radius: 8px;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
}
.style__tab .font__style__list > button.active::before,
.style__tab .font__style__list > div > button.active::before{
    opacity: 1;
    visibility: visible;
}
.style__tab .font__style__list > button.active::after,
.style__tab .font__style__list > div > button.active::after{
    opacity: 0.09;
}

.style__tab .font__style__list > button img,
.style__tab .font__style__list > div > button img{
    position: relative;
    z-index: 10;
}
.style__tab .text__line__box::before{
    content: "";
    width: 7px;
    height: 7px;
    background-color: #353539;
    position: absolute;
    top: -3.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.style__tab .text__line__box{
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    position: absolute;
    left: 50%;
    top: calc(100% + 4px);
    transform: translateX(-50%);
    width: 136px;
    /* height: 87px; */
    border-radius: 10px;
    background-color: #353539;
    padding: 12px 10px;
}
.style__tab .font__style__list .relative:hover .text__line__box{
    opacity: 1;
    visibility: visible;
}
.style__tab .text__line__box button.active::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -4px;
    width: 1px;
    height: 14px;
    border-radius: 2px;
    background-color: #9A88F7;
}
.style__tab .text__line__box button{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 11px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
}
.style__tab .text__line__box button:last-child{
    margin-bottom: 0;
}
.style__tab .font__style__list button.color__picker__btn{
    border-left: 1px solid #e9e9e9;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    padding-left: 12px;
}
.style__tab .font__style__list button.color__picker__btn::after,
.style__tab .font__style__list button.color__picker__btn::before{
    display: none;
}

/* style__tab content end */